@import url('https://rsms.me/inter/inter.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
html {
    font-family: 'Inter', sans-serif;
}
 
@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}
 
body {
    background: #d1d8e0;
    padding: 4.2rem 0.6rem;
}

 /* Door */
 /* Tijmen, Maisie en Marlène */