article.card {
    box-shadow: 0 1.6rem 2.6rem rgba(0, 0, 0, 0.05);
    background: white;
    padding: 1.6rem;
    max-width: 32rem;
    margin: auto;
    border-radius: 0.6rem;
    color: #4b6584;
    overflow: hidden;
    margin-bottom: 2.4rem;
}
 
.card__header {
    background: #0fb9b1;
    color: white;
    margin: -1.6rem -1.6rem 1.2rem -1.6rem;
    padding: 1.6rem;
}
 
.card__button {
    min-width: 14rem;
    margin-top: 1.2rem;
    background: #2bcbba;
    color: white;
    border: none;
    outline: none;
    padding: 0.6rem 1.2rem;
    border-radius: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease-in;
}
 
.card__button:hover {
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.1);
}
 
.card__button:active {
    box-shadow: none;
}

 /* Door */
 /* Tijmen, Maisie en Marlène */